body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  width: 85vh;
  height: 85vh;

}

.piece {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.piece.p1 {
  background-color: #1f1f1f;
}

.piece.p2 {
  background-color: #eeeded;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: brown;
}

tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
  background: beige;
}


