body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#board {
  width: 80vh;
  height: 80vh;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: #661818;
}

tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
  background: beige;
}


.p1, .p2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.p1 {
  background-color: #161616;
}

.p2 {
  background-color: #e7e7e7;
}