<!DOCTYPE html>
<html>
<head>
    <script src="javascripts/util.js"></script>
    <script src="javascripts/game.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
    <body>
        <table id="board"></table>
    </body>
</html>
