<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="javascripts/index.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table id="board"></table>
  </body>
</html>
