
#main {
    display: flex;
}

#heatmapControlPanel {
    width: 10%;
    overflow: auto;
    background-color: #373737;
    min-width: 100px;
    transition: width .6s, min-width .6s;
}

#heatmapControlPanel.hidden {
    width: 0;
    min-width: 0;
}

#showControlPanel {
    padding: 0;
    background-color: inherit;
    color: white;
    font-size: 25px;
    margin: 0;
    position: absolute;
    transform: translate(-9px, -14px);
    box-shadow: none;
}

.userEntryHeatmap {
    flex: 0 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.userEntryHeatmap:first-of-type {
    margin-top: 20px
}

#tblTimetable {
    flex: 1 0 content;
    width: 90%;
}
