* {
  box-sizing: border-box;
}

html,
body {
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0;
  text-align: center;
}

body {
  padding: 50px 50px;
  background-color: #676b6e;
}

h1 {
  margin-top: 0;
}

a {
  color: #00B7FF;
}

.hide {
  display: none;
}

button,
input[type="submit"]{
  outline: none;
  border: none;
  border-radius: 0;
  padding: 10px 20px;
  box-shadow: 0px 0px 12px -8px;
  margin: 15px 5px 0;
  display: inline-block;
  cursor: pointer;
  transition: transform .3s;
}

button:active,
input[type="submit"]:active {
  transform: scale(.95);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 0;
    border: none;
    padding: 10px;
    transition: width .6s;
    width: 50%;
}

input[type="text"].largerWidth,
input[type="email"].largerWidth,
input[type="password"].largerWidth {
    width: 75%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 2px solid #9eb6fd;
    width: 90%;
}

body.dark {
  background-color: #1c1c1c;
  color: #eee;
}

.closeBtn {
    position: absolute;
    top: 15px;
    right: 14px;
    margin: 0;
    padding: 10px;
    background-color: inherit;
    color: white;
    font-size: 21px;
    box-shadow: none;
}

.closeBtn::before,
.closeBtn::after {
    content: "";
    width: 2px;
    height: 20px;
    background-color: white;
    display: block;
    position: absolute;
}

.closeBtn::before {
    transform: rotate(45deg) translate(-8px, -6px);
}

.closeBtn::after {
    transform: rotate(-45deg) translate(6px, -8px);
}

.subLabel {
    font-size: .8em;
    color: #919191;
}

.accordion {
    width: 100%;
    margin: 15px 0 0;
}

.accordion::after {
  content: " \25BE";
}

.accordion.active::after {
  content: " \25B4";
}

.accordion + div {
    transition: max-height 1s;
    max-height: 0;
    overflow-y: hidden;
}

.accordion.active + div {
    max-height: 100%;
}

.infoMessage {
  position: relative;
  width: 50%;
  padding: 15px;
  margin: 0 auto;
  min-width: 250px;
}

.infoMessage.success {
  background-color: #378837;
}

.infoMessage.error {
  background-color: #751818;
}

.copy {
  cursor: pointer;
}
