table {
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    padding: 5px 10px;
}

td:first-of-type {
    border-right: 1px solid white;
}

#createCalendarWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background-color: inherit;
    box-shadow: 0 0 10px 6px black;
    padding: 40px;
    max-width: 900px;
}
