* {
  box-sizing: border-box;
}

html,
body {
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100vw;
  margin: 0;
  text-align: center;
}

body {
  padding: 50px 50px;
  background-color: #676b6e;
}

h1 {
  margin-top: 0;
}

a {
  color: #00B7FF;
}

.hide {
  display: none;
}

#tblTimetable {
  width: 100%;
  height: calc(100vh - 300px);
  min-height: 600px;
}

#heatmapControlPanel {

}

#tblTimetable th {
  background-color: #e5945a;
  width: 100px;
}

#tblTimetable td {
  background-color: #bfbebe;
  cursor: pointer;
}

#tblTimetable .freetime {
  background-color: #6abb61;
}

#tblTimetable .busy {
  background-color: #de2222;
}

button,
input[type="submit"]{
  outline: none;
  border: none;
  border-radius: 0;
  padding: 10px 20px;
  box-shadow: 0px 0px 12px -8px;
  margin: 15px 5px 0;
  display: inline-block;
  cursor: pointer;
  transition: transform .3s;
}

button:active,
input[type="submit"]:active {
  transform: scale(.95);
}

body.dark {
  background-color: #1c1c1c;
  color: #eee;
}

body.dark #tblTimetable {
  border-collapse: collapse;
}

body.dark #tblTimetable th {
  background-color: #262626;
  font-weight: normal;
}

body.dark #tblTimetable td {
  background-color: #373737;
}

body.dark #tblTimetable td,
body.dark #tblTimetable th {
  border: 1px solid #1c1c1c;
}

body.dark #tblTimetable .freetime {
  background-color: #3b7d33;
}

body.dark #tblTimetable .busy {
  background-color: #c82020;
}

