<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="AdminClient.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title>Timetable Poller</title>
</head>
<body>
<table id="tblTimetable"></table>
</body>
</html>