<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="base.js"></script>
        <script src="timetable.js"></script>
        <script src="AdminClient.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <title>Timetable Poller</title>
    </head>
    <body class="dark">
        <table id="tblTimetable"></table>
        <button id="lightDarkSwitch">Light Mode</button>
        <button id="logoutBtn">Log Out</button>
    </body>
</html>
