<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="./libs/Toast.min.js"></script>
        <link rel='stylesheet' href='/libs/Toast.min.css' />
        <script src="javascripts/base.js"></script>
        <script src="javascripts/timetable.js"></script>
        <script src="javascripts/userClient.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/base.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/timetable.css">
        <title>Timetable Poller</title>
    </head>
    <body class="dark">
        <% if (typeof error === "undefined") { %>
            <h1><%= calendarTitle %></h1>
            <div class="hide" id="daysTimesDiv" data-days="<%= calendarDays %>" data-times="<%= calendarTimes %>"></div>
            <table id="tblTimetable"></table>
            <button id="homeBtn">Home</button>
            <% if (access == "admin") { %>
                <button id="adminBtn">Admin View</button>
            <% } %>
            <button id="saveBtn">Save</button>
            <button id="lightDarkSwitch">Light Mode</button>
            <button id="logoutBtn">Log Out</button>
        <% } else { %>
            <div class="infoMessage error"><button class="closeBtn"></button><span><%= error %></span></div>
            <button id="homeBtn">Home</button>
            <button id="logoutBtn">Log Out</button>
        <% } %>
    </body>
</html>
